@CHARSET "UTF-8";
body{
	font-family: arial, sans-serif;
	background-color: #C0C0C0;
	color: #555;
	line-height: 24px;
	font-size: 14px;
	margin-top: 20%;
}

table, th, td, tr {
    border: 0px;
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
font-size:15px;
align-content:center


}



td {
	align: right;
	width: 194px;
	text-align: center;
	font-size: 18px;
}

input {
	width: 160px;
}

th {
    background-color: navy;
    color: white;
}

h1{
	font-size: 38px;
	margin: 0 0 30px 0;
	text-align: center;
}
h2{
	font-size:28px;
	margin:40px 0 30px 0;
}
h3{
	font-size:24px;
	margin:40px 0 20px 0;
}
h4{
	font-size:18px;
	margin:30px 0 15px 0;
}
h5{
	font-size:18px;
	margin:30px 0 5px 0;
}
p{
	margin:0 0 15px 0;
}
input{
	margin:0 0 15px 0;
}
a{
	text-decoration:none;
	color:#2684cd;
}
a:hover{
	color:#555;
	cursor:pointer;
}
.hide{
	display:none;
}
.title{
	margin-top:0;
}
.post-line{
	clear:both;
	border-bottom:1px #ddd dotted;
	margin:40px 0 45px 0;
}
.cache-images{
	display:none
}

.rButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.rButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.rButton:active {
	position:relative;
	top:1px;
}
body form {
	top: vw;
	margin-top: 20%;
}


@media screen{
}
