
.login_body {
	background-image:url(images/mappermain.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.login_table {
	align-content:center;
	align-items:center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14pt;
	/*font-weight:bold;	*/
}

body {
	
	/*background-color:#aeaeae;*/
	font-size: 10pt;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin: 0;
	padding: 0;
	color: black;/*background-image:url(images/page.png);
background-repeat:repeat-y;
background-position:top center;*/
	
	
}

#page {
width:900px;
margin:auto;
padding:auto;
}


#header {
clear:both;
width:900px;
height:45px;
color:black;
background-image:url(images/newheader.png);
}

#headerleft {
float:left;
width:280px;
height:51px;
padding-top:12px;
padding-left:15px;
}

#menulinks {
float:right;
width:600px;
height:63px;

}

#menulinks a {
	padding-left:15px;
	padding-right:15px;
	padding-top:23px;
	height:40px;
    background-image:none;
	display:block;
	color:black;
	text-decoration:none;
	float:right;
	font-size:16px;
	font-weight:bold;
	margin-left:3px;
  }
  
#menulinks a:hover, #menulinks a.areas {
	/*background-image:url(images/menuhover.png);*/
	text-decoration:none;
	color:navy;
}

#mainarea {
width:880px;
clear:both;
padding-left:20px;
}

#contentarea {
	width: 100%;
	padding-right: 35px;
	padding-bottom: 20px;
	/*float: left;*/
	line-height: 14pt;
	background-image: none;
	background-size: cover;
}

#sidebar {
	background-color: #FFFFFF;
	float: left;
	width: 150px;
}

.windows_areas {
	line-height: 14pt;
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-top: 2px solid;
	border-right: 2px solid;
	border-radius: 27px 27px 27px 27px;
	-moz-border-radius: 27px 27px 27px 27px;
	-webkit-border-radius: 27px 27px 27px 27px;
	border: 3px solid gray;
	padding-left: 8px;
	padding-top: 8px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding-bottom: 8px;
	padding-right: 8px;
}

#footer {
width:899px;
clear:both;
height:55px;
padding-top:30px;
text-align:center;
line-height:14pt;
background-image:url(images/newfooter.png);
background-repeat:no-repeat;
background-color:#000000;
}

h1, h1 a, h1 a:hover {
font-size:20pt;
color:black;
margin:0;
text-decoration:none;
}

#rButtonSmall1 {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #777777;
	font-family: Trebuchet MS;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: px;
	/* [disabled]margin-top: 5px; */

}
#rButtonSmall1:hover {
	background-color:#dfdfdf;
}
#rButtonSmall1:active {
	position: relative;
	top: px;
	width: 20px;
	height: auto;
}

#rButton1{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #777777;
	font-family: Trebuchet MS;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: px;
	margin-top: 5px;
}
#rButton1:hover {
	background-color:#dfdfdf;
}
#rButton1:active {
	position:relative;
	top:1px;
}


#centertext {
	text-align: center;
	font-size: 16pt;
}

li {
	list-style-type:none
}


h2 {
	font-size: 15pt;
	color: black;
}

a {
color:blue;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

.rTable {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	border-right: 3px solid gray;
	border-left: 3px solid gray;
}.rTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.rTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.rTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.rTable table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.rTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.rTable tr:hover td{
	background-color:#ffffff;
		

}
.rTable td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:6px;
	font-size:13px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:normal;
	color:#000000;
}.rTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.rTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.rTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.rTable tr:first-child td{
		background:-o-linear-gradient(bottom, #7f7f7f 5%, #7f7f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f7f7f), color-stop(1, #7f7f7f) );
	background:-moz-linear-gradient( center top, #7f7f7f 5%, #7f7f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7f7f", endColorstr="#7f7f7f");	background: -o-linear-gradient(top,#7f7f7f,7f7f7f);

	background-color:#7f7f7f;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
	color:#ffffff;
}
.rTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7f7f7f 5%, #7f7f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f7f7f), color-stop(1, #7f7f7f) );
	background:-moz-linear-gradient( center top, #7f7f7f 5%, #7f7f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7f7f", endColorstr="#7f7f7f");	background: -o-linear-gradient(top,#7f7f7f,7f7f7f);

	background-color:#7f7f7f;
}
.rTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.rTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
/*
.style-5 input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[type="text"]:focus,
.style-5 input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

#rButton {
  -webkit-border-radius: 39;
  -moz-border-radius: 39;
  border-radius: 39px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: gray;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: px;
  margin-top: 5px;
  
}

#rButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}*/


.btn {
	background-color:gray;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding-right: 20px;
    padding-left: 20px;
	text-decoration:none;
	margin-right: 5px;
    margin-left: 5px;
	 margin-bottom: 5px;
	 margin-top: 5px;
	text-shadow:0px 1px 0px #ced9bf;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}


.myButton {
	background-color:#dbe6c4;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
	background-color:#9ba892;
}
.myButton:active {
	position:relative;
	top:1px;
}
